body {
	margin: 0;
	color: white;
	background-color: teal;
	font-family: trebuchet MS;
	font-size: 18px;
	padding-left: 20%;
}

nav li {
	display: inline;
}

nav a {
	padding: 12px;
	text-decoration: none;
	color: white;
	font-size: 20px;
}

nav a:hover {
	color: teal;
	background: white;
}

a {
	text-decoration: none;
	color: white;
}

th, td {
	border: 2px solid white;
	padding: 12px;
}

span {
	color: gold;
	margin-left: 0.5em;
}

span:empty {
	display: none;
}

input {
	display: block;
	margin-bottom: 2em;
	margin-top: 0.2em;
}

img{
	width: 60%;
	height: auto;
}

tbody tr:hover{
	background-color: silver;
	color: teal;
}

tr a{
	color: inherit;
}

.searchbar{
	display: inline-block;
}

.fa-edit:hover, .fa-wrench:hover, .fa-car:hover{
	color: gold;
}

.fa-bomb:hover{
	color: black;
}

.submitlink {
	margin: 0;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
}